<div class="flex">
    <app-sidebar></app-sidebar>

    <div class="w-full flex h-screen overflow-y-hidden bg-white">

        <div class="flex flex-col flex-1 h-full overflow-hidden">

            <main class="flex-1 max-h-full p-5 overflow-hidden overflow-y-scroll">

                <div class="mb-4">
                    <h3 class="text-xl">Perfil</h3>
                </div>

                <hr />

                <div class="bg-white rounded-lg pt-10 lg:px-16">
                    <div class="grid lg:grid-cols-4 gap-6">
                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="dni" class="bg-white text-gray-600 px-1">Cédula *</label>
                                </p>
                            </div>
                            <p>
                                <input id="dni" name="dni" [(ngModel)]="dataSingleEmployee.dni" autocomplete="false" tabindex="0" type="text"
                                    class="py-1 px-1 text-gray-900 outline-none block h-full w-full" maxlength="10" disabled>
                            </p>
                        </div>
                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="names" class="bg-white text-gray-600 px-1">Nombres *</label>
                                </p>
                            </div>
                            <p>
                                <input id="names" name="names" [(ngModel)]="dataSingleEmployee.names" autocomplete="false" tabindex="0" type="text"
                                    class="py-1 px-1 outline-none block h-full w-full" disabled>
                            </p>
                        </div>
                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="last_names" class="bg-white text-gray-600 px-1">Apellidos *</label>
                                </p>
                            </div>
                            <p>
                                <input id="last_names" name="last_names" [(ngModel)]="dataSingleEmployee.last_names" autocomplete="false" tabindex="0" type="text"
                                    class="py-1 px-1 outline-none block h-full w-full" disabled>
                            </p>
                        </div>
                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="email" class="bg-white text-gray-600 px-1">Correo electrónico *</label>
                                </p>
                            </div>
                            <p>
                                <input id="email" name="email" [(ngModel)]="dataSingleEmployee.email" autocomplete="false" tabindex="0" type="email"
                                    class="py-1 px-1 outline-none block h-full w-full" disabled>
                            </p>
                        </div>
                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="birthday" class="bg-white text-gray-600 px-1">Fecha nacimiento *</label>
                                </p>
                            </div>
                            <p>
                                <input id="birthday" name="birthday" [(ngModel)]="dataSingleEmployee.birthday" autocomplete="false" tabindex="0" type="text"
                                    class="py-1 px-1 text-gray-900 outline-none block h-full w-full" maxlength="10" disabled>
                            </p>
                        </div>

                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="birthday" class="bg-white text-gray-600 px-1">Dirección *</label>
                                </p>
                            </div>
                            <p>
                                <input id="birthday" name="birthday" [(ngModel)]="dataSingleEmployee.address" autocomplete="false" tabindex="0" type="text"
                                    class="py-1 px-1 text-gray-900 outline-none block h-full w-full" maxlength="10" disabled>
                            </p>
                        </div>

                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="birthday" class="bg-white text-gray-600 px-1">Teléfono *</label>
                                </p>
                            </div>
                            <p>
                                <input id="birthday" name="birthday" [(ngModel)]="dataSingleEmployee.phone" autocomplete="false" tabindex="0" type="text"
                                    class="py-1 px-1 text-gray-900 outline-none block h-full w-full" maxlength="10" disabled>
                            </p>
                        </div>

                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="birthday" class="bg-white text-gray-600 px-1">Estado de vacunación *</label>
                                </p>
                            </div>
                            <p>
                                <input id="birthday" name="birthday" [(ngModel)]="dataSingleEmployee.phone" autocomplete="false" tabindex="0" type="text"
                                    class="py-1 px-1 text-gray-900 outline-none block h-full w-full" maxlength="10" disabled>
                            </p>
                        </div>

                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="birthday" class="bg-white text-gray-600 px-1">Tipo de vacuna *</label>
                                </p>
                            </div>
                            <p>
                                <input id="birthday" name="birthday" [(ngModel)]="dataSingleEmployee.phone" autocomplete="false" tabindex="0" type="text"
                                    class="py-1 px-1 text-gray-900 outline-none block h-full w-full" maxlength="10" disabled>
                            </p>
                        </div>
                    </div>
                    <div class="border-t mt-6 pt-3 text-center">

                        <button
                            class="rounded text-gray-100 px-3 py-1 bg-green-500 hover:shadow-inner hover:bg-green-700 transition-all duration-300">
                            Actualizar información
                        </button>

                    </div>
                </div>

            </main>

        </div>

    </div>
</div>