<div class="flex">
    <app-sidebar></app-sidebar>

    <div class="w-full flex h-screen overflow-y-hidden bg-white">

        <div class="flex flex-col flex-1 h-full overflow-hidden">

            <main class="flex-1 max-h-full p-5 overflow-hidden overflow-y-scroll">

                <div class="mb-4">
                    <h3 class="text-xl">Perfil</h3>
                </div>

                <hr />

                <div class="bg-white rounded-lg pt-10 lg:px-16">
                    <div class="grid lg:grid-cols-2 gap-6">
                        <div class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="dni" class="bg-white text-gray-600 px-1">Cédula</label>
                                </p>
                            </div>
                            <p class="text-center">{{ dataSingleEmployee.dni }}</p>
                        </div>
                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="names" class="bg-white text-gray-600 px-1">Nombres</label>
                                </p>
                            </div>
                            <p class="text-center">{{ dataSingleEmployee.names }}</p>
                        </div>
                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="last_names" class="bg-white text-gray-600 px-1">Apellidos</label>
                                </p>
                            </div>
                            <p class="text-center">{{ dataSingleEmployee.last_names }}</p>
                        </div>
                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="email" class="bg-white text-gray-600 px-1">Correo electrónico</label>
                                </p>
                            </div>
                            <p class="text-center">{{ dataSingleEmployee.email }}</p>
                        </div>
                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="birthday" class="bg-white text-gray-600 px-1">Fecha nacimiento</label>
                                </p>
                            </div>
                            <p *ngIf="dataSingleEmployee.birthday" class="text-center">{{ dataSingleEmployee.birthday }}</p>
                            <p *ngIf="!dataSingleEmployee.birthday" class="text-center text-red-800">- Sin completar -</p>
                        </div>

                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="birthday" class="bg-white text-gray-600 px-1">Dirección</label>
                                </p>
                            </div>
                            <p *ngIf="dataSingleEmployee.address" class="text-center">{{ dataSingleEmployee.address }}</p>
                            <p *ngIf="!dataSingleEmployee.address" class="text-center text-red-800">- Sin completar -</p>
                        </div>

                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="birthday" class="bg-white text-gray-600 px-1">Teléfono</label>
                                </p>
                            </div>
                            <p *ngIf="dataSingleEmployee.phone" class="text-center">{{ dataSingleEmployee.phone }}</p>
                            <p *ngIf="!dataSingleEmployee.phone" class="text-center text-red-800">- Sin completar -</p>
                        </div>

                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="birthday" class="bg-white text-gray-600 px-1">Estado de vacunación</label>
                                </p>
                            </div>
                            <p *ngIf="dataSingleEmployee.status_vaccine" class="text-center">Vacunado</p>
                            <p *ngIf="!dataSingleEmployee.status_vaccine" class="text-center">No vacunado</p>
                        </div>

                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="birthday" class="bg-white text-gray-600 px-1">Tipo de vacuna</label>
                                </p>
                            </div>
                            <p *ngIf="dataSingleEmployee.type_vaccine" class="text-center">{{ dataSingleEmployee.type_vaccine }}</p>
                            <p *ngIf="!dataSingleEmployee.type_vaccine" class="text-center text-red-800">- Sin completar -</p>
                        </div>

                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="birthday" class="bg-white text-gray-600 px-1">Fecha de vacunación</label>
                                </p>
                            </div>
                            <p *ngIf="dataSingleEmployee.date_vaccine" class="text-center">{{ dataSingleEmployee.date_vaccine }}</p>
                            <p *ngIf="!dataSingleEmployee.date_vaccine" class="text-center text-red-800">- Sin completar -</p>
                        </div>

                        <div
                            class="border focus-within:border-blue-500 transition-all duration-500 relative rounded p-1">
                            <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                <p>
                                    <label for="birthday" class="bg-white text-gray-600 px-1">Dosis de vacuna</label>
                                </p>
                            </div>
                            <p class="text-center">{{ dataSingleEmployee.doses_vaccine }}</p>
                        </div>
                    </div>
                    <div class="border-t mt-6 pt-3 text-center">

                        <a href="dashboard/update-profile/{{ dataSingleEmployee._id }}"
                            class="rounded text-gray-100 px-3 py-1 bg-green-500 hover:shadow-inner hover:bg-green-700 transition-all duration-300">
                            Actualizar información
                        </a>

                    </div>
                </div>

            </main>

        </div>

    </div>
</div>